@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
button {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.8;
  font-size: 15px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-weight: 400;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

@media (min-width: 1280px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }
}
